/* React Application Styling */

.selfie {
  clip-path: polygon(25% 7%, 75% 7%, 100% 50%, 75% 93%, 25% 93%, 0 50%);
  object-fit: cover;
}

#root {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
